@tailwind base;
@tailwind components;
@tailwind utilities;

html,body{
  color:white;
  background: #01202f;
}
main{
  background: #023047;
  height: 100vh;
  height: 100dvh;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
